<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br />
    <%= f.text_field :img_url %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br />
    <%= f.number_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :approved_by %><br />
    <%= f.number_field :approved_by %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :date_submitted %><br />
    <%= f.date_select :date_submitted %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br />
    <%= f.date_select :date_received %>
  </div>
  <div class="field">
    <%= f.label :date_approved %><br />
    <%= f.date_select :date_approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
