
<div class="item-img">
  <a href="<%= @item.purchase_url %>">
    <%= image_tag @item.img.url(:large) %>
  </a>
</div>

<div class="item-content">

<h2><%= @item.title %></h2>

<p>
  <%= @item.description %>
</p>

<p>
  <b>Cost:</b> <%= number_to_currency(@item.price) %><br/>
  <b>Status:</b> <%= @item.status %><br/>
  <b>Submitted by:</b> <%= @item.submitter.full_name %><br/>
<% if @item.purchased_by.present? %>
  <b>Purchased by:</b> <%= @item.purchaser.full_name %><br/>
<% end %>
</p>

</div>

<div class="item-bottom">
<%= form_for(@item, :url => purchase_item_path(@item), :html => { :method => 'put' }) do |f| %>
  <div class="actions">
    <% if @item.purchased_by.present? %>
      <%= f.submit "Purchase", :class => "btn", :disabled => true %>
    <% else %>
      <%= f.submit "Purchase", :class => "btn" %>
    <% end %>
  </div>
<% end %>

<% if current_user.present? and current_user.is_admin %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Destroy', @item, confirm: 'Are you sure?', method: :delete %> |
<% end %>
<%= link_to 'Back', items_path %>
</div>
