<!DOCTYPE html>
<html>
<head>
  <title><%= @title.present? ? @title : 'Stuff to get Noj' %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield(:head) %>

</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => name %>
<% end %>

<% if not current_page?(:controller => 'sessions', :action => 'new') and
      not current_page?(:controller => 'sessions', :action => 'create') and
      not current_page?(:controller => 'users', :action => 'new') and
      not current_page?(:controller => 'users', :action => 'create') then %>

        <div id="user_nav">
          <% if current_user %>
            Logged in as <%= current_user.full_name %>.
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> |
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
<% end %>

<%= yield %>

</body>
</html>
